<p id="notice"><%= notice %></p>

<h1>Listing Stekkers</h1>

<table>
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stekkers.each do |stekker| %>
      <tr>
        <td><%= stekker.deadline %></td>
        <td><%= stekker.memo %></td>
        <td><%= link_to '確認', stekker %></td>
        <td><%= link_to '編集', edit_stekker_path(stekker) %></td>
        <td><%= link_to '達成', stekker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stekker', new_stekker_path %>
